{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Card game</h1>

<p>This is the base for a card game</p>

<p>These are the routes used in developing this game.</p>

<ul>
    <li><a href="{{ path('card_start') }}">Landing page</a></li>
    <li><a href="{{ path('show_cards') }}">Sort and show a new deck</a></li>
    <li><a href="{{ path('shuffle_deck') }}">Shuffle and show a new deck</a></li>
    <li><a href="{{ path('draw_card') }}">Draw a random card and show num remaining (add /num if you want to draw many)</a></li>
</ul>

<h1>Code structure</h1>

<p>Underneath is my UML diagram for my classes. As you can see I have three classes, and a handful of helpful methods for each class.</p>
<h3>Relations</h3>
<p>"Deck" has a composition relationship with "Card", it might contain cards. And "CardGraphic" inherits from Card.</p>

<img src="{{ asset('img/Kmom02.png') }}" alt="">

{% endblock %}